@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import "mixins-variables.scss";


/* animation page accueil */
// Loader demarrage 
.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E470DA;
    z-index: 99;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    animation: loader-delay .2s ease-in-out 3.4s forwards;
}

// anim fermeture height
@keyframes loader-delay {
    from {
        height: 100%;
        top: 0;
    }

    to {
        height: 0%;
        top: 100%;
    }
}



.contain-loader {
    background-color: lighten($pink, 1);
    height: 90vh;
    width: 90vw;
    overflow: hidden;
}

// h2 cooking progress
#loader {
    position: relative;
    margin: 0 auto;
    top: 14vh;
    width: 80vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 6vh;
    color: #333;
    opacity: .75;
    animation: pulse 2s 2 forwards;
}

#cooking {
    position: relative;
    left: 0;
    top: 20%;
    width: 100%;
    height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;

    // Partie icon
    .couverts {
        width: auto;
        height: auto;
        text-align: center;
        margin-bottom: 100px;

        .fas {
            animation: ready 1s linear 2.5s forwards;
            font-size: 150px;
            color: #333;
        }
    }

    // Barre de chargement

    .container-progress-bar {
        border: 5px solid#333;
        width: 70vw;
        height: 50px;
        border-radius: 12px;

        .loading-bar {
            width: 100%;
            height: 100%;
            background: $blue;
            transform: scaleX(0);
            transform-origin: left;
            animation: loading .5s 2.6s both;

            .progress-bar {
                width: 69vw;
                height: 46px;
                padding: 5px;
            }
        }
    }

}

//animation h2 cooking progress
@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .25;
    }

    50% {
        transform: scale(1.2, 1);
        opacity: 1;
    }

    95% {
        transform: scale(1, 1);
        opacity: .25;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}



// animation chargement
@keyframes loading {
    0% {
        transform: scaleX(0);
        opacity: 0;
        background-color: lighten($blue, .4);
    }

    24% {
        transform: scaleX(.14);
        opacity: .2;
        background-color: lighten($blue, .2);
    }

    52% {
        transform: scaleX(.5);
        opacity: 0.7;
        background: $blue;
    }

    54%,
    65% {
        background: darken($blue, .7);
    }

    99% {
        transform: scaleX(.9);
        opacity: 1;
        background: darken($blue, 0.6);
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
        background: darken($blue, 1);
    }

}

// animation couverts icon fontawesome
@keyframes ready {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(-3turn);
    }

}


/* Animation scss restaurants */
//animation apparition progressive menu
section>.div-button:nth-of-type(1),
section>.div-button:nth-of-type(2),
section>.div-button:nth-of-type(3),
section>.div-button4:nth-of-type(4) {
    animation-name: apparition-menu;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

//anim section entrée
section:nth-of-type(1) {
    &>.div-button:nth-of-type(1) {
        animation-delay: .2s;
    }

    &>.div-button:nth-of-type(2) {
        animation-delay: .4s;
    }

    &>.div-button:nth-of-type(3) {
        animation-delay: .6s;
    }

    &> .div-button:nth-of-type(4) {
        animation-delay: .8s;
    }
}

//anim section plats 
section:nth-of-type(2) {
    &>.div-button:nth-of-type(1) {
        animation-delay: 1.2s;
    }

    &>.div-button:nth-of-type(2) {
        animation-delay: 1.4s;
    }

    &>.div-button:nth-of-type(3) {
        animation-delay: 1.6s;
    }

    &>.div-button:nth-of-type(4) {
        animation-delay: 1.8s;

    }
}

//anim section desserts
section:nth-of-type(3) {
    &>.div-button:nth-of-type(1) {
        animation-delay: 2.2s;
    }

    &>.div-button:nth-of-type(2) {
        animation-delay: 2.4s;
    }

    &>.div-button:nth-of-type(3) {
        animation-delay: 2.6s;
    }

    &>.div-button:nth-of-type(4) {
        animation-delay: 2.8s;
    }
}


@keyframes apparition-menu {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Animation valid check */
// Se trouve dans restaurant.scss car plus lisibles et fonctionnelle 