// Charte graphique
$purple: #9356DC;
$pink: #FF79DA;
$blue: #99E2D0;
//

// Mixins

@mixin main-button-action {
    color: white;
    text-shadow: 0 0 1px #f2f2f2;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 60px;
    border: none;
    border-radius: 50px;
    background: #E470DA;
    background: -webkit-linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
    background: -moz-linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
    background: linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
    box-shadow: 3px 7px 10px #ccc;
    cursor: pointer;

    &:hover {
        filter: brightness(110%);
        box-shadow: 3px 9px 12px #aaa;
        transition: filter .2s ease, box-shadow .7s ease;
    }
}



@mixin heart-color {
    text-shadow: -2px 0px 1px rgba(15, 15, 15, 1), 0 2px 1px black, 2px 0 1px #000, 0 -2px 0 black;
    color: #FFF;
    border-radius: 50%;
    padding: 1px;

    &::before {
        content: "\f004";
        font-weight: bold;
        transition: color .5s ease-out, text-shadow 1s ease-in-out;
    }
}

@mixin heart-color-hover {
    color: $pink;
    transform: scale(1.1);
    transition: .9s ease-in-out;
    text-shadow: -2px 0px 1px darken($pink, 10%), 0 2px 1px darken($pink, 10%), 2px 0 1px darken($pink, 10%), 0 -2px 0 darken($pink, 10%);
    cursor: pointer;

}