nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

nav .back-accueil {
  height: 100px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

nav .logo {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

nav .logo img {
  width: 100%;
  max-width: 200px;
}

nav .ghost {
  width: 25%;
}

.main-img {
  min-height: 200px;
  margin-bottom: -100px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-main {
  z-index: -1;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  top: -50px;
}

.container-restaurant-card {
  width: 100%;
  height: auto;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
}

.container-restaurant-card .restaurant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 10px;
  height: auto;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
}

.container-restaurant-card .title-restaurant-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94%;
}

.container-restaurant-card .title-restaurant-card h2 {
  font-family: "Shrikhand", sans-serif;
  font-size: 32px;
  line-height: .9;
}

.container-restaurant-card .title-restaurant-card .card-content-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-bottom: 5px;
}

.container-restaurant-card .title-restaurant-card .card-content-like button {
  border: none;
  position: relative;
  background-color: #f6f6f6;
}

.container-restaurant-card .title-restaurant-card .card-content-like button .fa-heart {
  text-shadow: -2px 0px 1px #0f0f0f, 0 2px 1px black, 2px 0 1px #000, 0 -2px 0 black;
  color: #FFF;
  border-radius: 50%;
  padding: 1px;
}

.container-restaurant-card .title-restaurant-card .card-content-like button .fa-heart::before {
  content: "\f004";
  font-weight: bold;
  -webkit-transition: color .5s ease-out, text-shadow 1s ease-in-out;
  transition: color .5s ease-out, text-shadow 1s ease-in-out;
}

.container-restaurant-card .title-restaurant-card .card-content-like button .fa-heart:hover::before {
  color: #FF79DA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  text-shadow: -2px 0px 1px #ff46cc, 0 2px 1px #ff46cc, 2px 0 1px #ff46cc, 0 -2px 0 #ff46cc;
  cursor: pointer;
}

.container-restaurant-card section {
  padding: 25px 10px;
  height: auto;
  width: 100%;
}

.container-restaurant-card section .section-titre {
  font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.container-restaurant-card section .underline-titre {
  width: 50px;
  height: 3px;
  background-color: #99E2D0;
}

.container-restaurant-card section button {
  margin: 20px 0 10px 0;
  width: 100%;
  height: auto;
  padding-left: 10px;
  background: #fff;
  -webkit-box-shadow: 2px 3px 5px #ccc;
          box-shadow: 2px 3px 5px #ccc;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  height: auto;
}

.container-restaurant-card section button :active {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.container-restaurant-card section button :active .valid {
  width: 60px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.container-restaurant-card section button :active .valid .fa-check-circle {
  -webkit-transform: rotate(1turn);
          transform: rotate(1turn);
}

.container-restaurant-card section .card-restaurant-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px auto;
}

.container-restaurant-card section .card-restaurant-content .card-restaurant-content-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 0px;
  min-width: calc(100% - 100px);
  height: 100%;
}

.container-restaurant-card section .card-restaurant-content .card-restaurant-content-text h3 {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 9px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align-last: left;
}

.container-restaurant-card section .card-restaurant-content .card-restaurant-content-text p {
  text-align: left;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.container-restaurant-card section .card-restaurant-content .price {
  padding-top: 20px;
  padding-right: 15px;
  font-weight: bolder;
  font-size: 18px;
  text-align: left;
  margin-left: auto;
  text-align: right;
}

.container-restaurant-card section .valid {
  height: 100%;
  background: #99E2D0;
  color: white;
  width: 0;
  padding: 5px 0;
  overflow: hidden;
  -webkit-transition: width .3s;
  transition: width .3s;
  border-radius: 0 12px 12px 0;
}

.container-restaurant-card section .fa-check-circle {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  padding: 20px 0px;
}

.button-commander {
  padding: 30px 0px;
  padding-bottom: 50px;
}

.button-commander a {
  text-decoration: none;
}

.button-commander a button {
  color: white;
  text-shadow: 0 0 1px #f2f2f2;
  font-weight: 500;
  font-size: 18px;
  padding: 18px 60px;
  border: none;
  border-radius: 50px;
  background: #E470DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#E470DA), to(#A96CD8));
  background: linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
  -webkit-box-shadow: 3px 7px 10px #ccc;
          box-shadow: 3px 7px 10px #ccc;
  cursor: pointer;
}

.button-commander a button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: 3px 9px 12px #aaa;
          box-shadow: 3px 9px 12px #aaa;
  -webkit-transition: -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
  transition: -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
  transition: filter .2s ease, box-shadow .7s ease;
  transition: filter .2s ease, box-shadow .7s ease, -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
}

footer {
  margin-top: 0;
}

section > button:nth-of-type(1), section > button:nth-of-type(2), section > button:nth-of-type(3), section > button:nth-of-type(4) {
  -webkit-animation-name: apparition-menu;
          animation-name: apparition-menu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

section:nth-of-type(1) > button:nth-of-type(1) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

section:nth-of-type(1) > button:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

section:nth-of-type(1) > button:nth-of-type(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

section:nth-of-type(1) > button:nth-of-type(4) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

section:nth-of-type(2) > button:nth-of-type(1) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

section:nth-of-type(2) > button:nth-of-type(2) {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

section:nth-of-type(2) > button:nth-of-type(3) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

section:nth-of-type(2) > button:nth-of-type(4) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

section:nth-of-type(3) > button:nth-of-type(1) {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

section:nth-of-type(3) > button:nth-of-type(2) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

section:nth-of-type(3) > button:nth-of-type(3) {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

section:nth-of-type(3) > button:nth-of-type(4) {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}

@-webkit-keyframes apparition-menu {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition-menu {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 992px) {
  main {
    background: rgba(255, 121, 218, 0.7);
    z-index: 1000;
    position: relative;
  }
  .fa-heart {
    margin-top: 10px;
    font-size: 5rem !important;
  }
  .main-img {
    min-height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container-restaurant-card {
    width: 80%;
    margin: 0px auto;
  }
  .container-restaurant-card .restaurant-card {
    padding: 30px 100px;
    border-radius: 25px 25px 25px 25px;
  }
  .container-restaurant-card .title-restaurant-card {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 80%;
  }
  .container-restaurant-card .title-restaurant-card h2 {
    font-size: 34px;
  }
  .container-restaurant-card .valid {
    -webkit-transition: width .3s;
    transition: width .3s;
    padding: 20px 0;
  }
  .container-restaurant-card .fa-check-circle {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    padding: 30px 20px;
  }
  section {
    padding: 35px 40px;
    margin-bottom: 25px;
    width: 80%;
    max-width: 60vw;
  }
  .container-restaurant-card section button {
    margin: 45px 0 10px 0;
    padding-left: 20px;
  }
  footer {
    margin-top: 50px;
  }
  .card-restaurant-content .card-restaurant-content-text {
    padding-right: 10px;
    width: 89%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container-restaurant-card {
    background-size: cover;
  }
  .container-restaurant-card .restaurant-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 100px;
    height: auto;
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
  }
  .container-restaurant-card .title-restaurant-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-bottom: 40px;
  }
  .container-restaurant-card .title-restaurant-card h2 {
    font-size: 34px;
  }
  .container-restaurant-card .valid {
    -webkit-transition: width .3s;
    transition: width .3s;
    padding: 10px 0;
  }
  .container-restaurant-card .fa-check-circle {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    padding: 30px 20px;
  }
  section {
    padding: 45px 40px;
    width: 80%;
  }
  .container-restaurant-card section button {
    padding-left: 30px;
  }
}
/*# sourceMappingURL=restaurants.css.map */