@import "responsive.scss";
@import "mixins-variable.scss";


// Partie Header 

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;

    .back-accueil {
        height: 100px;
        width: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
    }

    .logo {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            width: 100%;
            max-width: 200px;
        }
    }

    // Div vide pour centrer
    .ghost {
        width: 25%;
    }
}


// Partie Main

.main-img {
    min-height: 200px;
    margin-bottom: -100px;
    overflow: hidden;
    object-fit: cover;

    .img-main {
        z-index: -1;
        position: relative;
        object-fit: cover;
        top: -50px;
    }
}

.container-restaurant-card {
    width: 100%;
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;

    //carte restaurant
    .restaurant-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 30px 10px;
        height: auto;
        background: #f6f6f6;
        border-radius: 50px 50px 0 0;
    }

    .title-restaurant-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;

        h2 {
            font-family: "Shrikhand", sans-serif;
            font-size: 32px;
            line-height: .9;
        }

        // Code bouton coeur a refactorisé
        .card-content-like {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 15px;
            padding-bottom: 5px;

            button {
                border: none;
                position: relative;
                background-color: #f6f6f6;

                .fa-heart {
                    @include heart-color;

                    &:hover::before {
                        @include heart-color-hover;
                    }
                }
            }

        }
    }

    // entrée/ plats/ desserts
    section {
        padding: 25px 10px;
        height: auto;
        width: 100%;

        .section-titre {
            font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 22px;
            font-weight: 300;
        }

        .underline-titre {
            width: 50px;
            height: 3px;
            background-color: $blue;
        }

        button {
            margin: 20px 0 10px 0;
            width: 100%;
            height: auto;
            padding-left: 10px;
            background: #fff;
            box-shadow: 2px 3px 5px #ccc;
            border-radius: 12px;
            border: none;
            cursor: pointer;
            height: auto;

            // Animation valid check
            :active {
                transition: all 200ms ease-in;

                & .valid {
                    width: 60px;
                    transition: all 200ms ease-in;

                    .fa-check-circle {
                        transform: rotate(1turn);
                    }
                }
            }
        }

        //carte menu
        .card-restaurant-content {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding: 20px 0;

            .card-restaurant-content-text {
                display: flex;
                flex-direction: column;
                // align-items: flex-start; // Cette ligne empêche le text-overflow 
                padding-right: 0px;
                min-width: calc(100% - 100px);
                height: 100%;

                h3 {
                    font-size: 17px;
                    font-weight: 600;
                    padding-bottom: 9px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    text-align-last: left;
                }

                p {
                    text-align: left;
                    font-weight: 300;
                    font-size: 15px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }

            .price {
                padding-top: 20px;
                padding-right: 15px;
                font-weight: bolder;
                font-size: 18px;
                text-align: left;
                margin-left: auto;
                text-align: right;

            }
        }

        // Partie animation valid check sur carte menu 
        .valid {
            height: 100%;
            background: $blue;
            color: white;
            width: 0;
            padding: 5px 0;
            overflow: hidden;
            transition: width .3s;
            border-radius: 0 12px 12px 0;
        }

        .fa-check-circle {
            transform: rotate(0);
            transition: transform .5s;
            padding: 20px 0px;
        }
    }
}

// boutton commander
.button-commander {
    padding: 30px 0px;
    padding-bottom: 50px;

    button {
        @include main-button-action;
    }

    a {
        text-decoration: none;
    }
}

//footer
footer {
    margin-top: 0;
}










// Media Queries 

// Partie Responsive Desktop et plus 
@media screen and(min-width: $large) {
    main {
        background: rgba($pink, .7);
        z-index: 1000;
        position: relative;
    }

    .fa-heart {
        margin-top: 10px;
        font-size: 5rem !important;
    }

    //partie image principale
    .main-img {
        min-height: 600px;
        object-fit: cover;
    }

    .container-restaurant-card {
        width: 80%;
        margin: 0px auto;

        .restaurant-card {
            padding: 30px 100px;
            border-radius: 25px 25px 25px 25px;
        }

        .title-restaurant-card {
            padding-top: 20px;
            padding-bottom: 30px;
            width: 80%;

            h2 {
                font-size: 34px;
            }
        }

        // div animation check
        .valid {
            transition: width .3s;
            padding: 20px 0;
        }

        .fa-check-circle {
            transition: transform .5s;
            padding: 30px 20px;
        }

    }

    section {
        padding: 35px 40px;
        margin-bottom: 25px;
        width: 80%;
        max-width: 60vw;
    }

    .container-restaurant-card section button {
        margin: 45px 0 10px 0;
        padding-left: 20px;
    }

    footer {
        margin-top: 50px
    }

    .card-restaurant-content {

        .card-restaurant-content-text {
            padding-right: 10px;
            width: 89%;
        }
    }
}


// Partie responsive Tablette
@media screen and(min-width: $medium) and(max-width: $large) {

    .container-restaurant-card {
        background-size: cover;
        // padding-top: 40vh;

        .restaurant-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding: 30px 100px;
            height: auto;
            background: #f6f6f6;
            border-radius: 50px 50px 0 0;
        }

        .title-restaurant-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;

            h2 {
                font-size: 34px;
            }
        }


        // div animation check
        .valid {
            transition: width .3s;
            padding: 10px 0;
        }

        .fa-check-circle {
            transition: transform .5s;
            padding: 30px 20px;
        }
    }

    section {
        padding: 45px 40px;
        width: 80%;
    }

    .container-restaurant-card section button {
        padding-left: 30px;
    }
}