@import "responsive.scss";
// variables

$purple: #9356DC;
$pink: #FF79DA;
$blue: #99E2D0;


// Partie Header 

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100px;

    .back-accueil {
        height: 100px;
        width: 25%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 20px;
    }

    .logo {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;

        img {
            width: 100%;
            max-width: 200px;
        }
    }

    .ghost {
        width: 25%;
    }
}


// Partie Main
.background-note {
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.background-francaise {
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.background-palette {
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.background-delice {
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.container-restaurant-card {
    width: 100%;
    height: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 30vh;

    .restaurant-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 30px 10px;
        height: auto;
        background: #f6f6f6;
        border-radius: 50px 50px 0 0;
    }

    .title-restaurant-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 94%;

        h2 {
            font-family: "Shrikhand", sans-serif;
            font-size: 32px;
            line-height: .9;
        }

        // Code bouton coeur a refactorisé
        .card-content-like {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 15px;
            padding-bottom: 5px;

            button {
                border: none;
                position: relative;
                background-color: #f6f6f6;

                .fa-heart {
                    text-shadow: -2px 0px 1px rgba(15, 15, 15, 1), 0 2px 1px black, 2px 0 1px #000, 0 -2px 0 black;
                    color: #FFF;
                    border-radius: 50%;
                    padding: 1px;

                    &::before {
                        content: "\f004";
                        font-weight: bold;
                        transition: color .5s ease-out, text-shadow 1s ease-in-out;
                    }

                    &:hover::before {
                        color: $pink;
                        transform: scale(1.1);
                        transition: .9s ease-in-out;
                        text-shadow: -2px 0px 1px darken($pink, 10%), 0 2px 1px darken($pink, 10%), 2px 0 1px darken($pink, 10%), 0 -2px 0 darken($pink, 10%);
                        cursor: pointer;
                    }
                }
            }

        }
    }

    section {
        padding: 25px 10px;
        width: 100%;

        .section-titre {
            font-family: "Roboto", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 22px;
            font-weight: 300;
        }

        .underline-titre {
            width: 50px;
            height: 3px;
            background-color: $blue;

        }

        button {
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin: 20px 0 10px 0;
            width: 100%;
            padding: 20px 10px;
            background: #fff;
            box-shadow: 2px 3px 5px #ccc;
            border-radius: 12px;
            border: none;

            .card-restaurant-content {
                width: 100%;
                text-align: left;
                position: relative;
            }

            h3 {
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 5px;
            }

            p {
                font-weight: 300;
                font-size: 16px;
            }

            .price {
                position: absolute;
                right: 10px;
                bottom: -10px;
                font-weight: bolder;
                font-size: 18px;
            }
        }
    }

    .button-commander {
        padding: 30px 0px;
        padding-bottom: 50px;

        a {
            text-decoration: none;

            button {
                color: white;
                text-shadow: 0 0 1px #f2f2f2;
                font-weight: 500;
                font-size: 18px;
                padding: 18px 60px;
                border: none;
                border-radius: 50px;
                background: #E470DA;
                background: -webkit-linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
                background: -moz-linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
                background: linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
                box-shadow: 3px 7px 10px #ccc;
                cursor: pointer;

                &:hover {
                    filter: brightness(110%);
                    box-shadow: 3px 9px 12px #aaa;
                    transition: filter .2s ease, box-shadow .7s ease;
                }
            }

        }
    }
}

footer {
    margin-top: 0;
}


// Media Queries 

// Partie Responsive Desktop et plus 
@media screen and(min-width: $large) {
main{
    background: rgba($pink, .7);
}
  .container-restaurant-card {
        background-size: contain!important;
        padding-top: 40%!important;
        background-position-y: -200px;
        width: 80%;
        margin: 0px auto;

        .restaurant-card {
            padding: 30px 100px;
            border-radius: 25px 25px 0 0;
            margin-top: -60px!important;
        }

        .title-restaurant-card {
            padding-top: 20px;
            padding-bottom: 30px;
            width: 80%;
            h2 {
                font-size: 34px;
            }
        }
    }

    section {
        padding: 35px 40px;
        margin-bottom: 25px;
        width: 80%;
        max-width: 60vw;
    }

    .container-restaurant-card section button {
        margin: 45px 0 10px 0;
        padding: 30px 35px;
    }
}

// Partie responsive Tablette
@media screen and(min-width: $medium) {

    .container-restaurant-card {
        background-size: contain;
        padding-top: 40vh;

        .restaurant-card {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            padding: 30px 100px;
            height: auto;
            background: #f6f6f6;
            border-radius: 50px 50px 0 0;
        }

        .title-restaurant-card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: 40px;

            h2 {
                font-size: 34px;
            }
        }
    }

    section {
        padding: 45px 40px;
        width: 80%;
    }
}