@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.contain-loader {
  background-color: #ff7edb;
  height: 90vh;
  width: 90vw;
  overflow: hidden;
}

#loader {
  position: relative;
  margin: 0 auto;
  top: 14vh;
  width: 80vw;
  text-align: center;
  font-family: 'Amatic SC';
  font-size: 6vh;
  color: #333;
  opacity: .75;
  -webkit-animation: pulse 2s 2 forwards;
          animation: pulse 2s 2 forwards;
}

#cooking {
  position: relative;
  left: 0;
  top: 20%;
  width: 100%;
  height: 60%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

#cooking .couverts {
  width: auto;
  height: auto;
  text-align: center;
  margin-bottom: 100px;
}

#cooking .couverts .fas {
  -webkit-animation: ready 1s linear 2.5s forwards;
          animation: ready 1s linear 2.5s forwards;
  font-size: 150px;
  color: #333;
}

#cooking .container-progress-bar {
  border: 5px solid #333;
  width: 70vw;
  height: 50px;
  border-radius: 12px;
}

#cooking .container-progress-bar .loading-bar {
  width: 100%;
  height: 100%;
  background: #99E2D0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: loading 1s 3s both;
          animation: loading 1s 3s both;
}

#cooking .container-progress-bar .loading-bar .progress-bar {
  width: 69vw;
  height: 46px;
  padding: 5px;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: .25;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: .25;
  }
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: .25;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
    background-color: #9be2d1;
  }
  24% {
    -webkit-transform: scaleX(0.14);
            transform: scaleX(0.14);
    opacity: .2;
    background-color: #9ae2d0;
  }
  52% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    opacity: 0.7;
    background: #99E2D0;
  }
  54%,
  65% {
    background: #96e1cf;
  }
  99% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
    opacity: 1;
    background: #97e1cf;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
    background: #95e1ce;
  }
}

@keyframes loading {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 0;
    background-color: #9be2d1;
  }
  24% {
    -webkit-transform: scaleX(0.14);
            transform: scaleX(0.14);
    opacity: .2;
    background-color: #9ae2d0;
  }
  52% {
    -webkit-transform: scaleX(0.5);
            transform: scaleX(0.5);
    opacity: 0.7;
    background: #99E2D0;
  }
  54%,
  65% {
    background: #96e1cf;
  }
  99% {
    -webkit-transform: scaleX(0.9);
            transform: scaleX(0.9);
    opacity: 1;
    background: #97e1cf;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
    background: #95e1ce;
  }
}

@-webkit-keyframes ready {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-3turn);
            transform: rotateY(-3turn);
  }
}

@keyframes ready {
  from {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-3turn);
            transform: rotateY(-3turn);
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E470DA;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-animation: loader-delay 2s ease-in-out 4s forwards;
          animation: loader-delay 2s ease-in-out 4s forwards;
}

@-webkit-keyframes loader-delay {
  from {
    height: 100%;
    top: 0;
  }
  to {
    height: 0%;
    top: 100%;
  }
}

@keyframes loader-delay {
  from {
    height: 100%;
    top: 0;
  }
  to {
    height: 0%;
    top: 100%;
  }
}

body {
  font-family: 'Roboto', cursive;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  width: 100%;
  height: auto;
}

header .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  width: 50%;
  max-width: 200px;
}

main {
  height: auto;
  width: 100%;
}

.reservez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 360px;
  background: #f6f6f6;
}

.reservez h1 {
  font-size: 28px;
  padding: 10px;
  padding-bottom: 15px;
  line-height: 1.1;
  font-weight: bolder;
  max-width: 80%;
  margin: auto;
  text-align: center;
  text-shadow: 0 0 1px #333;
}

.reservez p {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: #777;
}

.presentation {
  display: none;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  background: #EAEAEA;
  background: -webkit-gradient(linear, left bottom, left top, from(#EAEAEA), color-stop(82%, #EAEAEA), color-stop(97%, #CCCCCC));
  background: linear-gradient(to top, #EAEAEA 0%, #EAEAEA 82%, #CCCCCC 97%);
}

.search-bar input {
  border: none;
  background: #eaeaea00;
  font-weight: 600;
  text-align: center;
  color: #444;
  font-size: 18px;
}

.search-bar .fas {
  color: #444;
}

.button-explorer {
  padding: 35px;
}

.button-explorer a {
  text-decoration: none;
}

.button-explorer a button {
  color: white;
  text-shadow: 0 0 1px #f2f2f2;
  font-weight: 500;
  font-size: 18px;
  padding: 18px 30px;
  border: none;
  border-radius: 50px;
  background: #E470DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#E470DA), to(#A96CD8));
  background: linear-gradient(to bottom, #E470DA 0%, #A96CD8 100%);
  -webkit-box-shadow: 3px 7px 10px #ccc;
          box-shadow: 3px 7px 10px #ccc;
  cursor: pointer;
}

.button-explorer a button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: 3px 9px 12px #aaa;
          box-shadow: 3px 9px 12px #aaa;
  -webkit-transition: -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
  transition: -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
  transition: filter .2s ease, box-shadow .7s ease;
  transition: filter .2s ease, box-shadow .7s ease, -webkit-filter .2s ease, -webkit-box-shadow .7s ease;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 30px;
  width: 100%;
  height: 360px;
}

.fonctionnement h2 {
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 0 0 1px #333;
  margin-bottom: 20px;
}

.fonctionnement .etape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 10px;
  margin: 20px 0;
  border-radius: 15px;
  width: 95%;
  height: 60px;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 2px 3px 5px #ccc;
          box-shadow: 2px 3px 5px #ccc;
}

.fonctionnement .etape:hover {
  background: rgba(147, 86, 220, 0.2);
}

.fonctionnement .etape:hover .etape-icon {
  color: #9356DC;
}

.fonctionnement .etape .numero {
  color: white;
  width: 25px;
  height: 25px;
  margin-left: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #9356DC;
}

.fonctionnement .etape .etape-icon {
  padding: 0 25px;
  color: #777;
}

.fonctionnement .etape .etape-titre {
  font-weight: bold;
}

/* Section restaurant */
.restaurants {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.restaurants h2 {
  font-size: 28px;
  font-weight: bolder;
  text-shadow: 0 0 1px #333;
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  padding-left: 30px;
}

.restaurants .card {
  width: 350px;
  height: 280px;
  -webkit-box-shadow: 2px 3px 5px #ccc;
          box-shadow: 2px 3px 5px #ccc;
  margin-bottom: 25px;
  border-radius: 25px;
}

.restaurants .card .image-container {
  width: 100%;
  height: 200px;
}

.restaurants .card .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0 0;
}

.restaurants .card .image-container .new {
  font-weight: bolder;
  color: #2c9c81;
  padding: 10px 15px;
  border-radius: 4px;
  background: #99E2D0;
  position: relative;
  top: -180px;
  right: -245px;
}

.restaurants .card .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

.restaurants .card .card-content h3 {
  font-weight: 900;
  padding-bottom: 5px;
}

.restaurants .card .card-content p {
  font-weight: 300;
}

.restaurants .card .card-content-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  padding-bottom: 5px;
}

.restaurants .card button {
  border: none;
  background: #fff;
  position: relative;
}

.restaurants .card button .fa-heart {
  text-shadow: -2px 0px 1px #0f0f0f, 0 2px 1px black, 2px 0 1px #000, 0 -2px 0 black;
  color: #FFF;
  background-color: #fff;
  border-radius: 50%;
  padding: 1px;
  /* Pourquoi utilisé before et non pas directement hover? */
}

.restaurants .card button .fa-heart::before {
  content: "\f004";
  font-weight: bold;
  -webkit-transition: color .5s ease-out, text-shadow 1s ease-in-out;
  transition: color .5s ease-out, text-shadow 1s ease-in-out;
}

.restaurants .card button .fa-heart:hover::before {
  color: #FF79DA;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .9s ease-in-out;
  transition: .9s ease-in-out;
  text-shadow: -2px 0px 1px #ff46cc, 0 2px 1px #ff46cc, 2px 0 1px #ff46cc, 0 -2px 0 #ff46cc;
  cursor: pointer;
}

/* footer */
footer {
  margin-top: 30px;
  padding: 30px;
  background: #333;
}

footer img {
  width: 130px;
  margin-bottom: 20px;
}

footer li {
  padding: 5px 0;
}

footer li a {
  color: #f5f5f5;
  text-decoration: none;
  width: 100%;
}

footer li a span {
  display: inline-block;
  width: 25px;
}

/* tablette */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Partie header */
  header .logo {
    height: 100px;
  }
  header .logo img {
    max-width: 250px;
  }
  .container-section-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container-section-desktop .fonctionnement {
    width: 48%;
  }
  .container-section-desktop .restaurants {
    width: 48%;
    margin: 50px 0;
  }
}

/* Desktop */
@media only screen and (min-width: 992px) {
  header .logo {
    height: 150px;
    max-height: 250px;
  }
  header .logo img {
    max-width: 400px;
  }
  .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: white;
    margin-bottom: 50px;
  }
  .presentation .paralaxe {
    height: 550px;
    width: 100%;
    background: url("../images/presentation.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
    padding-left: 25px;
  }
  .presentation .paralaxe p {
    padding: 5px;
    color: white;
    text-shadow: 1px 0 1px black;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.3rem;
    word-spacing: .4rem;
  }
  .presentation .paralaxe p .span-logo {
    font-family: 'Shrikhand', sans-serif;
  }
  .presentation .paralaxe p span {
    padding-top: 15px;
    font-weight: 500;
  }
  .container-section-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container-section-desktop .fonctionnement {
    width: 45%;
  }
  .container-section-desktop .restaurants {
    width: 52%;
    margin: 50px 0;
  }
  .container-section-desktop .restaurants h2 {
    margin-bottom: 50px;
  }
  .container-section-desktop .restaurants .card {
    margin-bottom: 45px;
  }
  footer {
    padding: 80px 110px;
    padding-bottom: 150px;
  }
  footer li {
    padding-top: 30px;
  }
  footer li a:hover {
    text-decoration: underline;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
  }
}
/*# sourceMappingURL=style.css.map */